/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: rgba(44, 47, 51, 0.8);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.realmstock-panel {
  background-color: rgba(35, 39, 42, 0.9);
  border: 1px solid #99aab5;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s;
}

.realmstock-panel:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(40, 43, 46, 1);
}

.realmstock-panel h3 {
  color: #f0a500;
}

.button-toggle-styles {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 12px;
}

.button-toggle-styles:hover {
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
  transform: scale(1.05);
}

#sort-control-panel {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(26, 26, 29, 0.9);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 200px;
}

#sort-control-panel:hover {
  transform: translateY(-5px);
}

#sortMethod {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  margin-bottom: 10px;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 12px;
}

#sortMethod:hover {
  background-color: #444;
  transform: scale(1.02);
}
